.ms-tree-menu{
  list-style-type: none;
  -webkit-padding-start: 0px;
  margin-bottom: 0px;
  li{
    a{
      color: #b8c7ce;;
      background: #1e282c;
      width: 100%;
      display: block;
      line-height: 40px;
      text-decoration: none;
      border-left: 3px solid transparent;
      i{
        padding: 12px;
        cursor: pointer;
      }
      &.ms-menu-open{
        color: #fff;
        background: #1e282c;
        border-left-color: #3c8dbc;
      }
      &:hover{
        color: #fff;
        background: #1e282c;
        border-left-color: #3c8dbc;
      }
    }
  }

  .ms-tree-menu{
    background: #2C3B41;
    li{
      a{
        color: #555d5e;
        line-height: 30px;
        background-color: transparent;
        &:hover{
          color: white;
        }
      }
    }
  }

}